/* GENERAL SYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--main-bg-color);
}

h1, 
h2, 
h3, 
.sidebar a, 
.csv-input,
.category-option,
.prev-btn,
.next-btn  {
  font-family: 'Yusei Magic', sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  border: 2px solid var(--main-bg-color);
}

td p {
  font-size: 12px;
}

th, td {
  padding: 2px 5px;
}

table tr:nth-child(even) {
  background-color: var(--light-bg-color);
}

th {
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: left;
  padding: 8px 4px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

svg.spending-breakdown,
svg.monthly-breakdown {
  border: 2px solid var(--main-bg-color);
  margin: 10px 0;
  border-radius: 5px;
}

.card {
  background: var(--light-bg-color);
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.red-warning {
  color: var(--red-warning);
  font-weight: 600;
}

.green-success {
  color: var(--green-success);
  font-weight: 600;
}

.error-message {
  background-color: rgba(247, 58, 99, 0.15);
  border-radius: 4px;
  padding: 10px 12px
}

.success-message {
  background-color: rgba(73, 201, 68, 0.15);
  border-radius: 4px;
  padding: 10px 12px;
}

/* HEADER */
.header {
  padding: 10px 30px 40px;
}

.header h1 {
  color: var(--main-bg-color);
}

.custom-shape-divider {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider svg {
  opacity: 0.6;
}


/* LAYOUT */
.main-container {
  display: grid;
  grid-template-columns: 260px 1fr;
}

/* HOME */
.home .home-summary h2 {
  margin: 30px 0 20px;
}

.csv-upload {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
}

.csv-input {
  color: #fff;
  width: 113px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.csv-input::-webkit-file-upload-button {
  visibility: hidden;
}

.csv-input::before {
  content: 'Upload File';
  display: inline-block;
  background: linear-gradient(to right, var(--main-accent-color), var(--light-accent-color));
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
}

.csv-input::avtive {
  outline: none;
}



/* CATEGORY */
.category-container {
  padding: 40px 0 20px;
}

.category-container h2:hover {
  cursor: pointer;
}

.category-container h2 .icon {
  font-size: 26px;
  padding: 5px 0 0 10px;
}

.category-exclusion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  align-items: center;
  max-width: 900px;
}

.category-option {
  border-radius: 4px;
  padding: 8px 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.category-option:hover {
  cursor: pointer;
}

.category-option.selected {
  background-color: var(--main-accent-color);
  color: #fff;
}

.category-label {
  padding-left: 6px;
}

.home .spending-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  max-width: 1000px;
}

/* DASHBOARD */
.dashboard-container {
  padding: 30px;
}

.dashboard-summary {
  margin-top: 40px;
}

.dashboard-container .summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  max-width: 900px;
}


/* SIDEBAR */
.sidebar {
  background: var(--light-bg-color);
  border-top-right-radius: 5px;
  padding: 30px 10px 30px 30px;
  min-height: 80vh;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-item {
  margin: 2px 0;
}

.sidebar .sidebar-item a {
  text-decoration: none;
  display: block;
  width: 80%; 
  box-sizing: border-box;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 12px;
  margin: 10px 0;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(to right, var(--main-accent-color), var(--light-accent-color));
}

.sidebar .sidebar-item a:hover  {
  transform: translateX(-10px);
}

.fa-home, .fa-bar-chart, .fa-list {
  font-size: 14px;
  margin-bottom: 1px;
}

/* MONTHLY */
select.monthly-dropdown {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select-container {
  max-width: 300px;
  border: 2px solid var(--main-bg-color);
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.1;
  position: relative;
  font-family: Roboto, sans-serif;
}

.select-container:after {
  content: "";
  width: 14px;
  height: 8px;
  background-color: var(--main-bg-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  top: 13px;
  right: 10px;
}

select:focus + .focus {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid var(--main-accent-color);
  border-radius: inherit;
}

.monthly-chart h3 {
  padding-top: 30px;
}


/* TRANSACTION LIST */
.transactions-list {
  list-style: none;
  padding: 0;
}

.transaction-toolbar {
  display: flex;
}

.pagination {
  display: flex;
  align-items: center;
  width: 260px;
  justify-content: space-between;
  margin: auto 0 auto auto;
}

.prev-btn,
.next-btn {
  border: none;
  background: var(--main-accent-color);
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

.prev-btn .icon {
  margin-right: 5px;
}
.next-btn .icon {
  margin-left: 5px;
}

.transactions-list .transaction {
   padding: 20px 0;
   display: flex;
}

.transaction-field {
  width: 400px;
}