/* GENERAL SYLES */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--main-bg-color);
}

h1, 
h2, 
h3, 
.sidebar a, 
.csv-input {
  font-family: 'Yusei Magic', sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  border: 1px solid var(--main-bg-color);
}

td p {
  font-size: 12px;
}

th, td {
  padding: 2px 5px;
}

table tr:nth-child(even) {
  background-color: var(--light-bg-color);
}

th {
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: left;
  padding: 8px 4px;
  font-size: 14px;
}

svg.spending-breakdown,
svg.monthly-breakdown {
  border: 2px solid var(--main-bg-color);
  margin: 10px 0;
  border-radius: 5px;
}

.card {
  background: var(--light-bg-color);
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

/* HEADER */
.header {
  padding: 10px 30px 40px;
}

.header h1 {
  color: var(--main-bg-color);
}

.custom-shape-divider {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}


/* LAYOUT */
.main-container {
  display: grid;
  grid-template-columns: 260px 1fr;
}

/* HOME */
.home .home-summary h2 {
  margin: 30px 0 20px;
}

.csv-upload {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.csv-input {
  color: #fff;
  width: 110px;
}

.csv-input::-webkit-file-upload-button {
  visibility: hidden;
}

.csv-input::before {
  content: 'Upload File';
  display: inline-block;
  background: linear-gradient(to right, var(--main-accent-color), var(--light-accent-color));
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.csv-input::avtive {
  outline: none;
}

.home .spending-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  max-width: 1000px;
}


.spending-summary .card .red {
  color: rgb(192, 4, 4);
  font-weight: 600;
}

.spending-summary .card .green {
  color: rgb(5, 146, 0);
  font-weight: 600;
}

/* DASHBOARD */
.dashboard-container {
  padding: 30px;
}

.dashboard-summary {
  margin-top: 40px;
}

.dashboard-container .summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  max-width: 900px;
}


/* SIDEBAR */
.sidebar {
  background: var(--light-bg-color);
  border-top-right-radius: 5px;
  padding: 30px 10px 30px 30px;
  min-height: 80vh;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-item {
  margin: 2px 0;
}

.sidebar .sidebar-item a {
  text-decoration: none;
  display: block;
  width: 80%; 
  box-sizing: border-box;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 12px;
  margin: 10px 0;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(to right, var(--main-accent-color), var(--light-accent-color));
}

.sidebar .sidebar-item a:hover  {
  transform: translateX(-10px);
}

.fa-home, .fa-bar-chart, .fa-list {
  font-size: 14px;
  margin-bottom: 1px;
}

/* TRANSACTION LIST */
.transactions-list {
  list-style: none;
  padding: 0;
}

.transactions-list .transaction {
   padding: 20px 0;
   display: flex;
}

.transaction-field {
  width: 400px;
}