@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


/* VARIABLES */
:root {
  --main-bg-color: hsl(0, 0%, 17%);
  --light-bg-color: rgb(238, 238, 238);
  --main-accent-color: #9003fc;
  --light-accent-color: #E9CFFD;
}